<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Accueil</NavLink></li>
        <li><NavLink href="/rules">Règles du jeu</NavLink></li>
        <li><NavLink href="/new-adventure">Nouvelle aventure</NavLink></li>
        <li><a href="/admin">Admin (placeholder)</a></li>
    </ul>
</nav>

@code { /* V1 : pas de logique */ }
